name: Cache CI

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  cache-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Cache dependencies
        id: cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache
          key: cache-e52ee4c

      - name: prime-cache-e52ee4c
        run: |
          echo "Cache hit: ${{ steps.cache.outputs.cache-hit }}"
